/*
* This file is part of Gradoop.
*
* Gradoop is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Gradoop is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Gradoop.  If not, see <http://www.gnu.org/licenses/>.
*/
body {
    background-color:white;
    margin:10px;
    font-family:sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    color: #fff;
    font-weight: bold;
}

#sidebar {
    float:left;
    width:300px;
    background-color:#F0F0F0 ;
    padding: 5px;
    text-align:center;
    border-radius: 25px;
    border: 3px solid #808080;
}

#logo{
    width: 280px;
}

#stats {
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
    text-align: left;
}

#graphs {
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
    text-align: left;
}

#templates{
    width: 227px;
}

#load {
    width:55px;
}

#exec{
}

#checkbox {
    width: 280px;
    height: 300px;
    resize: none;
    background-color: #383838 ;
    color:#CCFF99;
    border-radius: 5px;

}

#canvas {
    float:left;
    height:calc(100vh - 10px);
    width: calc(100% - 320px);
    color:red;
    font-size:16px;
 }

#loading {
    position: absolute;
    width: 60%;
    height: 100%;
    background: url('spinner.gif') no-repeat center center;
    background-size: 160px 120px;
}



select {
    float: left;
    background-color: #fff;
    border:0px;
    outline:0px;
}


a {
    color: #fff;
}

.dropDown {
    text-align: left;
}

.dropDown dd,
.dropDown dt {
    margin: 0px;
    padding: 0px;
}

.dropDown ul {
    margin: -1px 0 0 0;
}

.dropDown dd {
    position: relative;
}

.dropDown a,
.dropDown a:visited {
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropDown dt a {
    background-color: #fff;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 10px;
    line-height: 10px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropDown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropDown dd ul {
    background-color: #fff;
    border: 0;
    color: #000;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropDown span.value {
    display: none;
}

.dropDown dd ul li a {
    padding: 5px;
    display: block;
}

.dropDown dd ul li a:hover {
    background-color: #000;
}

.show {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    height: 20px;
}

.label {
    font-size: 12px;
    text-align: left;
    float: left;
    font-weight: bold;
}

.filterLabel {
    font-size: 12px;
    text-align: left;
    float: left;
    font-weight: bold;
}

.MyQtip {

    /** Taken from Bootstrap body */
    font-size: 14px;
    line-height: 20px;
    color: #333333;

    /** Taken from Bootstrap .popover */
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    max-width: 1000px;
}
